body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #333;
}

#dataDisplay {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

button {
    background-color: #5cb85c; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.data-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-size: 0.9em;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.data-table th {
    background-color: #333;
    color: white;
}

.data-table td {
    background-color: #f8f8f8;
}

.data-table tbody tr:nth-child(even) {
    background-color: #eee;
}

.data-table tbody tr:hover {
    background-color: #f1f1f1;
}

